* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    background: linear-gradient(90deg, #001c6a, #000001);
  }

    .back-to-index {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
    }

  .kartu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    margin: auto;
    justify-content: space-evenly;
  }