body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
    vertical-align: middle;
    word-wrap: break-word;
    max-width: 200px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #f2f2f2;
}

td a {
    margin: 0 5px;
}

td {
    word-wrap: break-word;
    white-space: normal;
}

.tambah {
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
}

.tambah span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}

.tambah:hover {
    background-color: #0071e2;
}