* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
}



body {
  background: linear-gradient(90deg, #001c6a, #000001);
}

.circle {
  width: 250px;
  height: 250px;
  background: radial-gradient(#b0e633, #53ef7d);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
  z-index: -1;
}

.circle:nth-child(1) {
  top: 100px;
  left: 100px;
}

.circle:nth-child(2) {
  bottom: 100px;
  right: 100px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
      transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
      transform: translateY(10px);
  }
}


.jumbotron {
  background-image: url('../assets/img/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.jumbotron h1 {
  font-size: 5rem;
  display: inline-block;
}

.jumbotron p {
  font-size: 2rem;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 500px;
  margin: 0 auto 100px;
  padding-top: 100px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(26, 255, 0, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(13, 0, 250, 0.1);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

.card-body {
  background: rgba(10, 19, 205, 0.1);
  backdrop-filter: blur(5px);
}

.card.custom-card {
  background: rgba(106, 255, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: none;
  color: white;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card.custom-card .card-img-top {
  height: 200px;
  object-fit: cover;
}

.card.custom-card .card-body {
  color: white;
}

.card-title,
.card-text {
  color: white;
}

.card-title{
  text-align: center;
}
.card-text {
  text-align: justify;
}

.card-wrap {
  background-color: red;
}



@media (max-width: 990px) { 
  .circle {
    display: none;
  }

}